{% load static i18n %}

<header>
    <div class="mobile-fix-option"></div>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact">
                        <ul>
                            <li>{% trans 'Welcome to Our store Multikart' %}</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123 - 456 - 7890</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <ul class="header-dropdown">
                        <li class="mobile-wishlist"><a href="{% url 'order:wishlist' %}"><i class="fa fa-heart" aria-hidden="true"></i></a>
                        </li>
                        <li class="onhover-dropdown mobile-account">
                            <i class="fa fa-user" aria-hidden="true"></i> {% trans 'My Account' %}
                            <ul class="onhover-show-div">
                                {% if user.is_authenticated %}
                                {{user}}
                                <li><a href="{% url 'account:logout' %}" data-lng="en">{% trans 'Logout' %}</a></li>
                                {% else %}
                                <li><a href="{% url 'account:login' %}" data-lng="es">{% trans 'Login' %}</a></li>
                                {% endif  %}
                            </ul>
                        </li>
                        <li>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                                <ul class="nav navbar-nav navbar-right language menu">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        
                                            <button type="submit"
                                                    name="language"
                                                    value="{{ language.code }}"
                                                    class="{% if language.code == LANGUAGE_CODE %}alert-danger{% endif %}">
                                                {{ language.code }}
                                            </button>
                                     
                                    {% endfor %}
                                </ul>
                            </form>
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="navbar">
                            <a href="javascript:void(0)" onclick="openNav()">
                                <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                                </div>
                            </a>
                            <div id="mySidenav" class="sidenav">
                                <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                <nav>
                                    <div onclick="closeNav()">
                                        <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2"
                                                aria-hidden="true"></i> Back</div>
                                    </div>
                                    {%  for category in category_list %}
                                    <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                                        <li> 
                                            <a href="#">{{category.title}}</a>
                                           
                                        </li>
                                        <!-- <li>
                                            <a href="#">{% trans 'bags' %}</a>
                                            <ul>
                                                <li><a href="#">shopper bags</a></li>
                                                <li><a href="#">laptop bags</a></li>
                                                <li><a href="#">clutches</a></li>
                                                <li>
                                                    <a href="#">purses</a>
                                                    <ul>
                                                        <li><a href="#">purses</a></li>
                                                        <li><a href="#">wallets</a></li>
                                                        <li><a href="#">leathers</a></li>
                                                        <li><a href="#">satchels</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">{% trans 'footwear' %}</a>
                                            <ul>
                                                <li><a href="#">sport shoes</a></li>
                                                <li><a href="#">formal shoes</a></li>
                                                <li><a href="#">casual shoes</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">{% trans 'watches' %}</a></li>
                                        <li>
                                            <a href="#">{% trans 'Accessories' %}</a>
                                            <ul>
                                                <li><a href="#">fashion jewellery</a></li>
                                                <li><a href="#">caps and hats</a></li>
                                                <li><a href="#">precious jewellery</a></li>
                                                <li>
                                                    <a href="#">more..</a>
                                                    <ul>
                                                        <li><a href="#">necklaces</a></li>
                                                        <li><a href="#">earrings</a></li>
                                                        <li><a href="#">wrist wear</a></li>
                                                        <li>
                                                            <a href="#">accessories</a>
                                                            <ul>
                                                                <li><a href="#">ties</a></li>
                                                                <li><a href="#">cufflinks</a></li>
                                                                <li><a href="#">pockets squares</a></li>
                                                                <li><a href="#">helmets</a></li>
                                                                <li><a href="#">scarves</a></li>
                                                                <li>
                                                                    <a href="#">more...</a>
                                                                    <ul>
                                                                        <li><a href="#">accessory gift sets</a></li>
                                                                        <li><a href="#">travel accessories</a></li>
                                                                        <li><a href="#">phone cases</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">belts & more</a></li>
                                                        <li><a href="#">wearable</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">{% trans 'house of design' %}</a></li>
                                        <li>
                                            <a href="#">{% trans 'beauty & personal care' %}</a>
                                            <ul>
                                                <li><a href="#">makeup</a></li>
                                                <li><a href="#">skincare</a></li>
                                                <li><a href="#">premium beaty</a></li>
                                                <li>
                                                    <a href="#">more</a>
                                                    <ul>
                                                        <li><a href="#">fragrances</a></li>
                                                        <li><a href="#">luxury beauty</a></li>
                                                        <li><a href="#">hair care</a></li>
                                                        <li><a href="#">tools & brushes</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>  -->
                                      
                                        
                                    
                                    </ul>
                                    {% endfor %}
                                </nav>
                            </div>
                        </div>
                        <div class="brand-logo"><a href="{% url 'core:index' %}"><img src="{% static 'images/icon/logo.png' %}"
                                    class="img-fluid blur-up lazyload" alt=""></a></div>
                    </div>
                    <div class="menu-right pull-right">
                        <div>
                            <nav id="main-nav">
                                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                    <li>
                                        <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2"
                                                aria-hidden="true"></i></div>
                                    </li>
                                    <li>
                                        <a href="{% url 'core:index' %}">{% trans 'Home' %}</a>
                                        <!-- <ul>
                                            <li>
                                                <a href="#">new demos <span class="new-tag">new</span></a>
                                                <ul>
                                                    <li><a target="_blank"
                                                            href="marketplace-demo.html">marketplace</a></li>
                                                    <li><a target="_blank" href="tools.html">tools</a></li>
                                                    <li><a target="_blank" href="game.html">game</a></li>
                                                    <li><a target="_blank" href="gym-product.html">gym</a></li>
                                                    <li><a target="_blank" href="marijuana.html">marijuana</a></li>
                                                    <li><a target="_blank" href="left_sidebar-demo.html">left
                                                            sidebar</a></li>
                                                    <li><a target="_blank" href="jewellery.html">jewellery</a></li>
                                                    <li><a target="_blank" href="pets.html">pets</a></li>
                                                    <li><a target="_blank" href="metro.html">metro</a></li>
                                                    <li><a target="_blank" href="video-slider.html">video slider</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">clothing</a>
                                                <ul>
                                                    <li><a target="_blank" href="index.html">fashion 1</a></li>
                                                    <li><a target="_blank" href="fashion-2.html">fashion 2</a></li>
                                                    <li><a target="_blank" href="fashion-3.html">fashion 3</a></li>
                                                    <li><a target="_blank" href="kids.html">kids</a></li>
                                                </ul>
                                            </li>
                                            <li><a target="_blank" href="watch.html">watch</a></li>
                                            <li><a target="_blank" href="shoes.html">shoes</a></li>
                                            <li>
                                                <a href="#">electronics</a>
                                                <ul>
                                                    <li><a target="_blank" href="electronic-1.html">electronic 1</a>
                                                    </li>
                                                    <li><a target="_blank" href="electronic-2.html">electronic 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a target="_blank" href="bags.html">bags</a></li>
                                            <li><a target="_blank" href="nursery.html">nursery</a></li>
                                            <li><a target="_blank" href="flower.html">flower</a></li>
                                            <li><a target="_blank" href="vegetables.html">vegetable</a></li>
                                            <li><a target="_blank" href="beauty.html">beauty</a></li>
                                            <li><a target="_blank" href="light.html">light</a></li>
                                            <li><a target="_blank" href="furniture.html">furniture</a></li>
                                            <li><a target="_blank" href="goggles.html">googles</a></li>
                                            <li>
                                                <a href="#">basics</a>
                                                <ul>
                                                    <li><a target="_blank" href="lookbook-demo.html">lookbook</a>
                                                    </li>
                                                    <li><a target="_blank" href="instagram-shop.html">instagram</a>
                                                    </li>
                                                    <li><a target="_blank" href="video.html">video</a></li>
                                                    <li><a target="_blank" href="parallax.html">parallax</a></li>
                                                    <li><a target="_blank" href="full-page.html">full page</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <!-- <li>
                                        <a href="/product/products/">{% trans 'shop' %}</a>
                                        <!-- <ul>
                                            <li><a href="category-page.html">left sidebar</a></li>
                                            <li><a href="category-page(right).html">right sidebar</a></li>
                                            <li><a href="category-page(no-sidebar).html">no sidebar</a></li>
                                            <li><a href="category-page(sidebar-popup).html">sidebar popup</a></li>
                                            <li><a href="category-page(metro).html">metro <span
                                                        class="new-tag">new</span></a></li>
                                            <li><a href="category-page(full-width).html">full width <span
                                                        class="new-tag">new</span></a></li>
                                            <li><a href="category-page(infinite-scroll).html">infinite scroll</a>
                                            </li>
                                            <li><a href=category-page(3-grid).html>three grid</a></li>
                                            <li><a href="category-page(6-grid).html">six grid</a></li>
                                            <li><a href="category-page(list-view).html">list view</a></li>
                                        </ul> -->
                                    <!-- </li> --> 
                                    <li>
                                        <a href="/product/products">{% trans 'shop' %}</a>
                                        <!-- <ul>
                                            <li>
                                                <a href="#">sidebar</a>
                                                <ul>
                                                    <li><a href="product-page.html">left sidebar</a></li>
                                                    <li><a href="product-page(right-sidebar).html">right sidebar</a>
                                                    </li>
                                                    <li><a href="product-page(no-sidebar).html">no sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">thumbnail image</a>
                                                <ul>
                                                    <li><a href="product-page(left-image).html">left image</a></li>
                                                    <li><a href="product-page(right-image).html">right image</a>
                                                    </li>
                                                    <li><a href="product-page(image-outside).html">image outside
                                                            <span class="new-tag">new</span></a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">three column</a>
                                                <ul>
                                                    <li><a href="product-page(3-col-left).html">thumbnail left</a>
                                                    </li>
                                                    <li><a href="product-page(3-col-right).html">thumbnail right</a>
                                                    </li>
                                                    <li><a href="product-page(3-column).html">thubnail bottom</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="product-page(4-image).html">four image <span
                                                        class="new-tag">new</span></a></li>
                                            <li><a href="product-page(sticky).html">sticky</a></li>
                                            <li><a href="product-page(accordian).html">accordian</a></li>
                                            <li><a href="product-page(bundle).html">bundle<span
                                                        class="new-tag">new</span></a></li>
                                            <li><a href="product-page(image-swatch).html">image swatch <span
                                                        class="new-tag">new</span></a></li>
                                            <li><a href="product-page(vertical-tab).html">vertical tab</a></li>
                                        </ul> -->
                                    </li>
                                    
                                    <li><a href="{% url 'core:about' %}">{% trans 'about us' %}</a></li>
                                    <li><a href="{% url 'core:contact' %}">{% trans 'contact' %}</a></li>
                                    
                                    <!-- <li><a href="#">{% trans 'Profile' %}</a>
                                        <ul>
                                            <!-- <li>
                                                <a href="#">vendor <span class="new-tag">new</span></a>
                                                <ul>
                                                    <li><a href="vendor-dashboard.html">vendor dashboard</a></li>
                                                    <li><a href="vendor-profile.html">vendor profile</a></li>
                                                    <li><a href="become-vendor.html">become vendor</a></li>
                                                </ul>
                                            </li> -->
                                        
                                        
                                            
                                                
                                                    <!-- <li><a href="{% url 'order:wishlist' %}">wishlist</a></li>
                                                    <li><a href="{% url 'order:cart' %}">cart</a></li>
                                                    <li><a href="{% url 'account:login' %}">login</a></li>
                                                    <li><a href="{% url 'account:register' %}">register</a></li>
                                                    
                                                    <li><a href="{% url 'account:forget' %}">forget password</a></li>
                                                              
                                                    <li><a href="#">checkout</a></li> -->
                                              
                                            
                                        
                                            
                                            <!-- <li><a href="{% url 'order:ordersuccess' %}">order success</a></li> -->
                                           
                                           

                                            <!-- <li><a href="">Product page</a></li> -->
                                            
                                            <!-- <li><a href=" {% url 'core:404' %} ">404</a></li>
                                            <li><a href="{% url 'core:faq' %}">FAQ</a></li> -->
                                        <!-- </ul>
                                    </li> --> 
                                    
                                </ul>
                            </nav>
                        </div>
                        <div>
                            <div class="icon-nav">
                                <ul>
                                    <li class="onhover-div mobile-search">
                                        <div> <a href="/product/search/?m="> <img src="{% static 'images/icon/search.png' %}" 
                                                class="img-fluid blur-up lazyload" alt=""> <i class="ti-search"
                                                ></i> </a> </div>
                                        <div id="search-overlay" class="search-overlay">
                                            <div>
                                                <span class="closebtn" onclick="closeSearch()"
                                                    title="Close Overlay">×</span>
                                                <div class="overlay-content">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <form>
                                                                    <div class="form-group"><input type="text"
                                                                            class="form-control"
                                                                            id="exampleInputPassword1"
                                                                            placeholder="Search a Product"></div>
                                                                    <button type="submit" class="btn btn-primary"><i
                                                                            class="fa fa-search"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-setting">
                                        <div><img src="{% static 'images/icon/setting.png' %}"
                                                class="img-fluid blur-up lazyload" alt=""> <i
                                                class="ti-settings"></i></div>
                                        <div class="show-div setting">
                                            <h6>language</h6>
                                            <ul>
                                                <li><a href="#">english</a></li>
                                                <li><a href="#">french</a></li>
                                            </ul>
                                            <h6>currency</h6>
                                            <ul class="list-inline">
                                                <li><a href="#">euro</a></li>
                                                <li><a href="#">rupees</a></li>
                                                <li><a href="#">pound</a></li>
                                                <li><a href="#">doller</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-cart">
                                        <div>
                                            <a href="{% url 'order:cart' %}"> <img src="{% static 'images/icon/cart.png' %}"
                                                class="img-fluid blur-up lazyload" alt=""> </a> <i
                                                class="ti-shopping-cart"></i></div>
                                        <ul  id="basket" class="show-div shopping-cart">
                                            {% for item in user.cart.cartproducts.all|slice:":3" %}
                                            <li>
                                                <div class="media">
                                                    <a href="{{item.product.get_absolute_url}}"><img class="mr-3"
                                                            src="{{item.product.image.url}}"
                                                            alt="Generic placeholder image"></a>
                                                    <div class="media-body">
                                                        <a href="{{item.product.get_absolute_url}}">
                                                            <h4>{{item.product.title}}</h4>
                                                        </a>
                                                        <h4><span>{{item.quantity}} x $ {{item.product.get_sale_price}}  </span></h4>
                                                    </div>
                                                </div>
                                                <div class="close-circle"><a href="#"><i  data-item="{{item.pk}}"  class="fa fa-times target"
                                                            aria-hidden="true"></i></a></div>
                                            </li>
                                            {% endfor %}
                                            
                                            <li>
                                                <div class="total">
                                                    <h5>subtotal : <span>${{user.cart.total_price}}</span></h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="buttons"><a href="cart.html" class="view-cart">view
                                                        cart</a> <a href="#" class="checkout">checkout</a></div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class=" alert{% if message.tags == 'error'  %} alert-danger {% else  %} alert-{{ message.tags }} {% endif %}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}