
{% extends 'base.html' %}
{% load static  i18n %}
{% block title %} Reset Password {% endblock %}

{% block content %}
<!-- END nav -->
<section class="ftco-section contact-section register">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex justify-content-center" style="background-color: #f8f9fa !important;">
                    <form action="" method="POST" class="bg-light p-5 contact-form">
                        <div class="form-group">
                            <h4 class="reset center">Change your password</h4>
                            <h6 class="center">Please choose a new password to finish signing in.</h6>
                        </div>
                        {% csrf_token %}
                        <div style="display: flex; flex-direction: column;" class="form-row">
                            {% if form.old_password.errors  %}
                            <li class="text-danger" >{{form.old_password.errors }}</li> 
                            {% endif %} 
                            {{ form.old_password.label_tag }} 
                            {{ form.old_password }} 
                        </div>

                        <div style="display: flex; flex-direction: column;" class="form-row">
                            {{ form.new_password1.errors }}
                            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                            {{ form.new_password1.help_text }}
                            <div class="help">{{ form.new_password1.help_text|safe }}</div>
                        </div>
                            
                        <div style="display: flex; flex-direction: column;" class="form-row">
                            {% if form.new_password2.errors %}
                            <li class="text-danger" >{{form.new_password2.errors}}</li>  
                            {% endif %}
                                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                {% if form.new_password2.help_text %}
                                <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                {% endif %}
                            </div>
                             
                            <input type="submit" id="mc-submit" value="Submit" class="btn btn-solid py-3 px-5 mt-3 ml-5 " >

                        
                    </form>

                </div>
            </div>
        </div>
    </section>
    {% endblock %}