{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'images/favicon/1.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon/1.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Multikart - Multi-purpopse E-commerce Html Template</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.css' %}">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/color1.css' %}" media="screen" id="color">
    {% block css %}
    {% endblock %}

    <script type="text/javascript">
        var user = '{{request.user }}'

    </script>

</head>

<body>
    
    {% include "./includes/header.html" %}

    {% block content %}

    {% endblock %}
    
    {% include "./includes/footer.html"%} 
    
    <script src="{% static 'js/api.js' %}"></script>
    
    <!-- latest jquery-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    
    <!-- menu js-->
    <script src="{% static 'js/menu.js' %}"></script>
    
    <!-- lazyload js-->
    <script src="{% static 'js/lazysizes.min.js' %}"></script>
    
    <!-- popper js-->
    <script src="{% static 'js/popper.min.js' %}"></script>
    
    <!-- slick js-->
    <script src="{% static 'js/slick.js' %}"></script>
    
    <!-- Bootstrap js-->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    
    <!-- Bootstrap Notification js-->
    <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
    
    <!-- Theme js-->
    <script src="{% static 'js/script.js' %}"></script>

    <script src="{% static 'js/cart.js' %}"></script>

    
    
    
    {% block js %}
    
    {% endblock %}
</body>

</html>